{"filter":false,"title":"my_package_topic_file.launch","tooltip":"/new_package/src/launch/my_package_topic_file.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":54},"end":{"row":2,"column":54},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1547099726000,"hash":"80d32aa10b52153dd394232037e3cfeabc4e33f2"}